<form role="form" [formGroup]="blogForm">
  <!-- <div class="form-container create-blg-main-cont">
    <div class="form-group">
      <div class="form-title-container">
        <label><i class="fa fa-circle labels-icon"></i>Title</label>
      </div>
      <div class="form-fields-container">
        <input type="text" class="form-control form-fields" placeholder="Type here" formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <div class="form-title-container">
        <label><i class="fa fa-circle labels-icon"></i>Content</label>
      </div>
      <div class="form-fields-container">
        <app-editor [data]="editorData" (editorContent)="getContent($event)"></app-editor>
      </div>
      <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
        <div *ngIf="f.content.errors.required">Content is required</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
      <div class="form-title-container">
        <label><i class="fa fa-circle labels-icon"></i>Upload</label>
      </div>
      <div class="form-fields-container">
        <label class="form-control form-fields file-label" (click)="enableUpload()">
          {{uploadFileName}}
          <img src="/assets/images/file-img.jpg" class="file-icon" />
        </label>
        <input type="file" class="form-control form-fields d-none"
          [ngClass]="{ 'is-invalid': submitted && f.media.errors }" (change)="onFileChanged($event)" id="upload" />

        <img src="http://localhost:3000/images/{{blogImage}}" *ngIf="editAble && updateImage" alt="" />

        <div *ngIf="submitted && f.media.errors" class="invalid-feedback">
          <div *ngIf="f.media.errors.required">Image is required</div>
        </div>
      </div>
    </div>


  </div> -->

  <div class="create-blg-main-cont">
    <div class="main-create-blg">
      <div class="blog-row-1">
        <label> Title</label>
        <input type="text" placeholder="Type here" formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="blog-row-2">
        <label>Content</label>
        <div class="editor-area">
          <app-editor [data]="editorData" (editorContent)="getContent($event)" class="editor"></app-editor>
          <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
            <div *ngIf="f.content.errors.required">Content is required</div>
          </div>
        </div>

      </div>
      <div class="blog-row-3">
        <label>Upload</label>
        <span class="form-fields file-label upload-cont" (click)="enableUpload()">
          {{uploadFileName}}
          <img src="/assets/images/file-img.jpg" class="file-icon" />
        </span>
        <input type="file" class="form-control form-fields d-none"
          [ngClass]="{ 'is-invalid': submitted && f.media.errors }" (change)="onFileChanged($event)" id="upload" />

        <img src="http://localhost:3000/images/{{blogImage}}" class="blog-img" *ngIf="editAble && updateImage" alt="" />

        <div *ngIf="submitted && f.media.errors" class="invalid-feedback">
          <div *ngIf="f.media.errors.required">Image is required</div>
        </div>
      </div>
    </div>

    <div class="btns-div">
      <!-- <button class="cancel-btn">Cancel</button>
      <button class="Save-btn">Save</button>
      <button class="Publish-btn">Publish</button> -->

      <button class="cancel-btn" routerLink="/blogs">Cancel</button>
      <button class="Save-btn" (click)="onSubmit()">{{editAble ? 'Update': 'Save'}}</button>
      <button class="Publish-btn" (click)="onSubmit(1)">Publish</button>
    </div>
  </div>

  <!-- <div class="buttons-container">
    <button class="btn btn-rounded btn-cancel" routerLink="/blogs">Cancel</button>
    <button class="btn btn-rounded btn-save" (click)="onSubmit()">{{editAble ? 'Update': 'Save'}}</button>
    <button class="btn btn-rounded btn-publish" (click)="onSubmit(1)">Publish</button>
  </div> -->
</form>
