<div class="align-admin-sec  response-form">
  <div>
    <button class="btn btn-primary" (click)="enableAddGenre()">Add </button>
  </div>
  <div class="row" *ngIf="isAddGenre">
    <div class="col-md-6 text-right">
      <input type="text" [(ngModel)]="from" placeholder="from" class="form-control" />
      <input type="text" [(ngModel)]="to" placeholder="to" class="form-control" />

    </div>
    <div class="col-md-6">
      <button class="btn-primary" (click)="addGenre()">Add</button>
    </div>
  </div>
  <div class="">
    <table class="table table-bordered publishing-table table-responsive ">
      <tbody>
        <tr>
          <th>S.No.</th>
          <th>Age Group</th>
          <th>Actions</th>

          <th>Logged By:</th>
        </tr>
        <tr *ngFor="let row of data;let i=index">

          <td>{{i+1}}</td>
          <td>{{row.ageRange.join('-')}}</td>
          <td>
            <button class="btn-save btn-rounded" (click)="openModal(template, row)">Edit</button>
            <button class="btn-delete btn-rounded" (click)="deleteGenre(row._id)">Delete</button>

          </td>
          <td>
            <span (click)="openModal(template, row.topicMedia)">{{row.topicMedia && row.topicMedia.length}}</span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Topic Media</h4>
    <button class="close closepop-btn" type="button" (click)="decline();">
      <span>×</span>
    </button>

  </div>
  <div class="modal-body">

  </div>
</ng-template>
