<div class="dashboard-rit-topbar">
  <div class="main-left-topbar">
    <div class="topbar-item">
      <span>Admin//Sub-Admin Settings</span>
    </div>
    <div class="topbar-item">
      <span>Patron Members</span>
    </div>
    <div class="topbar-item">
      <span>Channel Partners</span>
    </div>
    <div class="topbar-item">
      <span>Project Reps</span>
    </div>
    <div class="topbar-item last-topbar-item">
      <span>My Profile</span>
    </div>
  </div>
  <div class="main-rit-topbar">
    <div class="topbar-item">
      <span>Sales</span>
    </div>
    <div class="topbar-item">
      <span>HSN Code/SAC Code/GST Slabs Settings</span>
    </div>
  </div>
</div>
<div class="main-content-control-panel">
  <!-- First row -->

  <div class="main-content-first-row">

    <div class="first-row-item-1">
      <div class="header-cont">
        Active Online Customers
      </div>
      <div class="no-cont">
        <span>{{activeCustomer}}</span>
      </div>
      <div class="total-sales">
        <span class="clr-main some-pad">Total Sales</span>
      </div>
      <div class="rupees">
        <span>{{'0'}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Countries
      </div>
      <div class="no-cont">
        <span>{{'0'}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        State
      </div>
      <div class="no-cont">
        <span>{{'0'}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Cities
      </div>
      <div class="no-cont">
        <span>{{'0'}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Zip-Pin Code
      </div>
      <div class="no-cont">
        <span>{{'0'}}</span>
      </div>
    </div>

    <div class="first-row-item-2 mar-left-20">
      <div class="header-cont">
        Age-Groups
      </div>
      <div class="no-cont">
        <span>{{'0'}}</span>
      </div>
    </div>
  </div>

  <!-- Second row -->

  <div class="main-content-first-row main-content-second-row">

    <div class="first-row-item-1 mar-rit-100">
      <div class="header-cont">
        VIP Members
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
      <div class="total-sales">
        <span class="clr-main some-pad">Total Sales</span>
      </div>
      <div class="rupees">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Countries
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        State
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Cities
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Zip-Pin Code
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>

    <div class="first-row-item-2 mar-left-20">
      <div class="header-cont">
        Age-Groups
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
  </div>

  <!-- Third row -->

  <div class="main-content-first-row main-content-second-row">

    <div class="first-row-item-2">
      <div class="header-cont">
        Publishings
      </div>
      <div class="no-cont">
        <span>{{publishings}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Reads
      </div>
      <div class="no-cont">
        <span>{{blogsRead}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Reviews
      </div>
      <div class="no-cont">
        <span>{{reviews}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Shares
      </div>
      <div class="no-cont">
        <span>{{shareCount}}</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Likes
      </div>
      <div class="no-cont">
        <span>{{blogLikeCount}}</span>
      </div>
    </div>
  </div>

  <!-- Fourth row -->

  <div class="main-content-first-row main-content-second-row">

    <div class="first-row-item-2 width-170">
      <div class="header-cont">
        Un-Registered Followers
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2 width-170">
      <div class="header-cont">
        Un-Registered Following
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
  </div>

  <!-- Fifth row -->

  <div class="main-content-first-row main-content-second-row">

    <div class="first-row-item-1 mar-rit-2">
      <div class="header-cont">
        Book Clubs
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
      <div class="total-sales">
        <span class="clr-main some-pad">Total Sales</span>
      </div>
      <div class="rupees">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Book Club Hosts
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-1 mar-rit-2">
      <div class="header-cont">
        Book Angels
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
      <div class="total-sales">
        <span class="clr-main some-pad">Total Sales</span>
      </div>
      <div class="rupees">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2 width-130">
      <div class="header-cont">
        Book Angels Books
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2 width-145">
      <div class="header-cont">
        Book Angels Members
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
  </div>

  <!-- Sixth row -->

  <div class="main-content-first-row main-content-second-row">

    <div class="first-row-item-1 mar-rit-2">
      <div class="header-cont">
        Classrooms
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
      <div class="total-sales">
        <span class="clr-main some-pad">Total Sales</span>
      </div>
      <div class="rupees">
        <span>0</span>
      </div>
    </div>
    <div class="first-row-item-2">
      <div class="header-cont">
        Classroom Hosts
      </div>
      <div class="no-cont">
        <span>0</span>
      </div>
    </div>
  </div>
</div>
