<div class="align-admin-sec" *ngIf="publicationAll">
  <div class="body-list">
    <div class="auth-name">
      Publishers
    </div>
    <div class="numbers-auth">{{ publisher || '0' }} </div>
  </div>

  <div class="body-list">
    <div class="auth-name">
      Writers
    </div>
    <div class="numbers-auth">{{ writer || '0' }} </div>
  </div>
  <div class="body-list">
    <div class="auth-name">
      Followers
    </div>
    <div class="numbers-auth">{{ followers || '0' }} </div>
  </div>
  <div class="body-list">
    <div class="auth-name">
      Submissions
    </div>
    <div class="numbers-auth">{{ submissions || '0' }} </div>
  </div>
  <!-- closed-publications -->

  <div class="diff-tabs ">
    <div class="body-list">
      <div class="auth-name">
        Closed Publications
      </div>
      <div class="numbers-auth">{{ closedPub || '0' }} </div>
    </div>

    <div class="body-list">
      <div class="auth-name-list">
        Titles
      </div>
      <div class="numbers-auth">{{ closedPubTitle || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Genres
      </div>
      <div class="numbers-auth">{{ closedPubGenre || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Age Groups
      </div>
      <div class="numbers-auth"> {{ closedPubAgeGroups || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Languages
      </div>
      <div class="numbers-auth"> {{ closedPubLanguages || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Categories
      </div>
      <div class="numbers-auth">{{ closedPubCat || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Follows
      </div>
      <div class="numbers-auth"> {{ closedPubFollow || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Shares
      </div>
      <div class="numbers-auth"> {{ closedPubShare || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Submissions
      </div>
      <div class="numbers-auth"> {{ closedPubSub || '0' }} </div>
    </div>
    <!-- <div class="col-md-2"></div> -->
  </div>

  <!-- open publications -->

  <div class="diff-tabs ">
    <div class="body-list">
      <div class="auth-name">
        Open Publications
      </div>
      <div class="numbers-auth"> {{ openPub || '0' }} </div>
    </div>

    <div class="body-list">
      <div class="auth-name-list">
        Titles
      </div>
      <div class="numbers-auth"> {{ openPubTitle || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Genres
      </div>
      <div class="numbers-auth"> {{ openPubGenre || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Age Groups
      </div>
      <div class="numbers-auth"> {{ openPubAgeGroups || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Languages
      </div>
      <div class="numbers-auth"> {{ openPubLanguages || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Categories
      </div>
      <div class="numbers-auth"> {{ openPubCat || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Follows
      </div>
      <div class="numbers-auth"> {{ openPubFollow || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Shares
      </div>
      <div class="numbers-auth">{{ openPubShare || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Submissions
      </div>
      <div class="numbers-auth">{{ openPubSub || '0' }} </div>
    </div>

    <!-- <div class="col-md-2"></div> -->
  </div>

  <!-- saved publications -->

  <div class=" diff-tabs  ">
    <div class="body-list">
      <div class="auth-name">
        Saved Publications
      </div>
      <div class="numbers-auth"> {{ savedPub || '0' }} </div>
    </div>

    <div class="body-list">
      <div class="auth-name-list">
        Titles
      </div>
      <div class="numbers-auth"> {{ savedPubTitle || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Genres
      </div>
      <div class="numbers-auth"> {{ savedPubGenre || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Age Groups
      </div>
      <div class="numbers-auth"> {{ savedPubAgeGroups || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Languages
      </div>
      <div class="numbers-auth">{{ savedPubLanguages || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Categories
      </div>
      <div class="numbers-auth">{{ savedPubCat || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Follows
      </div>
      <div class="numbers-auth"> {{ savedPubFollow || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Shares
      </div>
      <div class="numbers-auth">{{ savedPubShares || '0' }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name-list">
        Submissions
      </div>
      <div class="numbers-auth">{{ savedPubSub || '0'}} </div>
    </div>
    <!-- <div class="col-md-2"></div> -->
  </div>
</div>
<div class="align-admin-sec  response-form" *ngIf="!publicationAll">
  <div class="col-md-10">
    <div class="body-list">
      <div class="auth-name">
        <span (click)="navigate('create-publication')">Create Publications</span>
      </div>
      <div class="numbers-auth">{{'0'}} </div>
    </div>

    <div class="body-list">
      <div class="auth-name">
        Saved Publications

      </div>
      <div class="numbers-auth">{{ savedPub }} </div>
    </div>
    <div class="body-list">
      <div class="auth-name">
        Open Publications

      </div>
      <div class="numbers-auth">{{openPub}} </div>
    </div>
    <div class="body-list">
      <div class="auth-name">
        Closed Publications

      </div>
      <div class="numbers-auth">{{closedPub}} </div>
    </div>
    <div class="body-list">
      <div class="auth-name">
        Rejected Publications

      </div>
      <div class="numbers-auth">{{'0'}} </div>
    </div>
    <div class="body-list">
      <div class="auth-name">
        Cover/Category Designs
      </div>
      <div class="numbers-auth">{{'0'}} </div>
    </div>

    <div class="align-admin-sec  response-form">
      <div class="body-list">

        <div class="numbers-auth none-dsp">0 </div>
      </div>

      <div class="body-list">

        <div class="numbers-auth"><span class="col-blue">Site</span>0 </div>
      </div>
      <div class="body-list">

        <div class="numbers-auth"><span class="col-black">Patron Members</span> {{patronMember}} </div>
      </div>
      <div class="body-list">

        <div class="numbers-auth"><span class="col-black">VIP Member</span> {{vipMember}} </div>
      </div>


    </div>
  </div>

  <div class="">
    <table class="table table-bordered publishing-table table-responsive ">
      <tbody>
        <tr>
          <th>S.No.</th>
          <th>Date/Name</th>
          <th>Cover Design</th>
          <th>Title</th>
          <th>Brief</th>
          <th>Genres</th>
          <th>Age-Groups</th>
          <th>Closing Date</th>
          <th>Publication Rights</th>
          <th>Word Count</th>
          <th>Your 'How-To'Book</th>
          <th>Kick-starter</th>
          <th>Languages</th>
          <th>Category</th>
          <th>Publisher</th>
          <th *ngIf="currentPublication == 'Saved'"> Action</th>


        </tr>
        <tr *ngFor="let row of data;let i=index">

          <td>{{i+1}}</td>
          <td>{{row.createdAt |  date:'dd-MM-yyyy'}}</td>
          <td><img src="{{url}}/images/{{row.mediaCover}}" style="height: 200px;width: 200px;" /></td>
          <td>{{row.title}}</td>
          <td>{{row.brief}}</td>
          <td>
            <span *ngFor="let genre of row.genres">
              {{genre.title}},
            </span>
          </td>
          <td>
            <span *ngFor="let age of row.ageGroup">
              {{age.ageRange.join('-')}},

            </span>
          </td>
          <td>{{row.closingDate |  date:'dd-MM-yyyy'}}</td>
          <td>{{publicationRights[row.publicationRights]}}</td>
          <td>{{row.wordCount}}</td>
          <td>{{ row.kickstarter }}</td>
          <td>{{ row.kickbookDesc }}</td>
          <td>{{ row.language }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.publishedBy || 'Admin' }}</td>
          <td>
            <button *ngIf="currentPublication=='Open'">view</button>
            <button *ngIf="currentPublication=='Closed'" (click)="updatePublication(row._id,'2')">Approve</button>
            <button *ngIf="currentPublication=='Open'" (click)="updatePublication(row._id, '4')">Revert</button>
            <button *ngIf="currentPublication == 'Saved'" (click)="updatePublication(row._id, '2')">Open on Site
            </button>
          </td>
          <!-- <td *ngIf="currentPublication == 'Saved'">
            <button (click)="updateOpenPub()">Open on Site </button>
          </td> -->

        </tr>
      </tbody>
    </table>
  </div>

</div>
