<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 control-side-bar pad-zero">
      <!-- Sidebar component here -->
      <app-sidebar></app-sidebar>
      <!-- Sidebar component end here -->
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-11">
          <!-- Header component here -->
          <app-header></app-header>
          <!-- Header component end here -->
        </div>
        <div class="col-md-1"></div>

        <div class="blogs-margin col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</div>
