  <table class="table admin-blogs-table active-blog">
    <tbody>
      <tr>
        <th>Date/Time</th>
        <th>Title</th>
        <th>Content</th>
        <th>Media</th>
        <th>Reads</th>
        <th>Likes</th>
        <th>Shares</th>
        <th>Copied links</th>
      </tr>
      <tr class="">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>300</td>
        <td>300</td>
        <td>300</td>
        <td>300</td>

      </tr>




    </tbody>
  </table>
  <div class="row">
    <div class="col-md-3">
      <table class="table admin-blogs-table active-blog">
        <tbody>
          <tr>
            <th>Recent Blogs</th>
            <th>Archieved Blogs</th>

          </tr>
          <tr>
            <td>300</td>
            <td>300</td>
          </tr>




        </tbody>
      </table>
    </div>
    <div class="col-md-9"></div>

  </div>
  <div class="row">
    <div class="col-md-5">
      <table class="table admin-blogs-table all-blogs active-blog">
        <tbody>
          <tr>
            <th colspan="4" class="text-center">All Blogs (1000)</th>


          </tr>
          <tr>
            <td>300</td>
            <td>300</td>
            <td>300</td>
            <td>300</td>
          </tr>
          <tr>
            <td>3000</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>




        </tbody>
      </table>
    </div>
    <div class="col-md-7"></div>

  </div>
